/* 初始化 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", "Noto Sans JP", "Noto Sans", sans-serif;

}


/* 手機 */
@media screen and (max-width: 483px) {

  /* 截圖區 */
  #capture {
    display: relative;
    width: 100vw;
    height: 1750px;
    background-color: rgb(255, 250, 213)
  }

  /* 上方固定欄 */
  #navigator {
    z-index: 9;
    position: fixed;
    height: 75px;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: space-around;



    font-size: 32px;
    color: blue;
    background-color: #dbd267;

  }

  #blocker {
    position: static;
    height: 75px;
    width: 100vw;
  }

  #logo {
    width: 160px;
  }

  /* 中間曬卡區 */
  #slide-top {
    height: 40px;
    padding: 5px;
    position: relative;

    display: flex;
    flex-direction: row-reverse;

    font-size: 22px;
    background-color: #f3edaf;
  }

  #select-all {
    position: absolute;
    top: 1px;
    left: 90px;


    width: 130px;
    height: 34px;
    margin: 5px;
    border-radius: 17px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: #c1b42f;
    box-shadow: 0 0 3px 3px white;
    font-size: 22px;

    opacity: 50%;
    filter: grayscale(100%);
    background-color: rgb(97, 97, 97)
  }

  #select-all[own] {
    opacity: 100%;
    filter: grayscale(0%);
    background-color: #c1b42f;
  }

  #sorter {

    position: absolute;
    top: 1px;
    left: 230px;


    width: 100px;
    height: 34px;
    margin: 5px;
    border-radius: 17px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: #c1b42f;
    box-shadow: 0 0 3px 3px white;
    font-size: 22px;
  }

  #language {
    position: absolute;
    top: 1px;
    left: 340px;
    z-index: 10px;

    width: 40px;
    height: 34px;
    margin: 5px;
    border-radius: 17px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: #c1b42f;
    box-shadow: 0 0 3px 3px white;
    font-size: 22px;
  }

  #slide-top p {
    margin: 0 3px;
  }

  #card-container {
    width: 100%;
    max-width: 425px;
    padding: 3px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    background-color: rgb(255, 250, 213);
  }


  .card {
    position: relative;
    display: inline-block;

    width: 70px;
    height: 70px;
  }

  .fa-circle-check {
    position: absolute;
    right: 0;
    z-index: 2;

    font-size: 18px;
    color: rgb(1, 171, 1);
    border-radius: 50%;
    box-shadow: 0 0 5px 2px rgb(205, 254, 170);
    background-color: white;
  }

  .card img {
    width: 100%;
    height: 100%;
  }

  .card[data-own='false'] {
    filter: grayscale(100%);
  }

  .card[data-own='false'] i {
    display: none;
  }

  /* 下方結果欄 */
  #bottom-navigator {
    z-index: 2;
    height: 150px;
    width: 100vw;
    position: fixed;
    bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #dbd267;


  }

  #dashboard-title {
    font-size: 26px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #dashboard-title p {
    color: blue
  }

  #percentages {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

  }

  #percentages .result {
    font-size: 22px;
    display: flex;
    flex-wrap: nowrap;
    min-width: 42%;
    justify-content: space-evenly;
  }

  #percentages .empty {
    /* width: 15%; */
    flex-grow: 10;
    font-size: 20px
  }

  .user-action {
    position: fixed;
    right: 10px;
    z-index: 2;

    width: 65px;
    height: 26px;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    border: rgb(255, 255, 255) 1px solid;
    background-color: rgb(146, 129, 0);
    font-size: 18px;
  }

  #save {
    bottom: 40px;
    height: 40px;
  }

  #share {
    bottom: 25px;
  }

  /* 篩選器按鈕 */
  #filter-button {
    position: fixed;
    top: 75px;
    z-index: 4;

    width: 80px;
    height: 34px;
    margin: 5px;
    border-radius: 17px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: blue;
    box-shadow: 0 0 3px 3px white;
    font-size: 22px;


  }

  /* modal */

  #modal[data-show='false'] {
    display: none;
  }

  #modal {


    z-index: 3;
    position: fixed;
    top: 74px;
    bottom: 150px;
    width: 100vw;
    min-height: 625px;

    background-color: #f3edaf;
    box-shadow: inset 0 5px 24px #dbd267;

  }

  #modal-header {
    height: 40px;
  }

  #filter-all {
    position: absolute;
    top: 1px;
    left: 90px;


    width: 180px;
    height: 34px;
    margin: 5px;
    border-radius: 17px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: #7d730b;
    box-shadow: 0 0 3px 3px white;
    font-size: 22px;

    opacity: 70%;
    filter: grayscale(100%)
  }

  #filter-all[show] {
    opacity: 100%;
    filter: grayscale(0%);
    background-color: #c1b42f;
  }



  #idol-selector {
    display: flex;
    flex-wrap: wrap;
    width: 376px;
    margin: 10px auto 0;
  }

  .group {
    display: flex;
    justify-content: space-between;
    padding: 0px 5px;
  }

  .group-logo img {
    width: 60px;
  }

  .group-logo {
    opacity: 50%;
    filter: grayscale(100%)
  }

  .group-logo[show] {
    opacity: 100%;
    filter: none
  }

  .idol-avatar img {
    width: 55px;
    margin: 3px;
    border-radius: 50%;
  }

  #idol-selector .sp {

    flex-grow: 100;
    display: flex;
    flex-direction: row-reverse;

  }

  #pool-selector {
    width: 375px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

  }

  .pool {
    width: 40%;
    height: 56px;
    border-radius: 28px;
    border: #a99c12 5px solid;
    margin: 5px 0px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #dbd267;
    color: #685f01;
    font-size: 30px;
  }

  .container-3 {
    width: 375px;
    margin: 5px auto;

    display: flex;
    justify-content: space-evenly;
  }

  .type {

    width: 100px;
    height: 40px;
    margin: 5px;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    box-shadow: 0 0 3px 3px white;
    font-size: 22px;
  }

  #vocal {
    background-color: rgb(190, 0, 114)
  }

  #dance {
    background-color: rgb(0, 88, 203)
  }

  #visual {
    background-color: rgb(197, 171, 0)
  }

  .job {

    width: 100px;
    height: 40px;
    margin: 5px;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    box-shadow: 0 0 3px 3px white;
    font-size: 22px;

    background-color: rgb(7, 143, 0)
  }

  .filter[data-select='false'] {
    opacity: 50%;
    filter: grayscale(100%)
  }

  /* 使用者輸入名字 */
  #name {
    display: none;
  }

  #name[show] {
    position: fixed;
    bottom: 90px;
    z-index: 10;
    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background-color: #685f01;

  }

  input {
    width: 60%;
    min-height: 80%;
    display: inline;
    font-size: 24px;
  }

  button {
    width: 20%;
    font-size: 24px;
  }

  #alert[show] {
    position: fixed;
    top: 300px;
    left: 5vw;
    z-index: 10;
    height: 200px;
    width: 90vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;


    background-color: #0003c9;
    color: white;
    font-size: 28px;
  }

  /* #test {

    height: 100px;
    width: 100px;
    border: 1px red solid;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    font-size: 50px;
  } */

}